body {
    background-color: #cccccc;
    overflow: scroll;
}
.back {
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    width: 570px;
    height: 650px;
    border-radius: 7%;
}
#iconka {
    padding-left: 38%;
    padding-top: 10%;
}
#text {
    font-family: Arial, Helvetica, sans-serif, Bold;
    font-size: 35px;
    text-align: center;
}
#name {
    width: 370px;
    height: 50px;
    margin-left: 17%;
    margin-top: 7%;
    border: 0px;
    border-radius:  15px 15px 15px 15px;
}
.button {
    background-color: greenyellow;
    margin-left: 28%;
    margin-top: 10%;
    width: 250px;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border: 0px;
    border-radius:  40px 40px 40px 40px;
    cursor: pointer;
}
::placeholder {
    font-size: 20px;
    padding-left: 10px;
}
.button2 {
    font-size: 15px;
    background: transparent;
    border: 0px;
    text-align: center;
    cursor: pointer;
}
#t2 {
    text-align: center;
    margin-top: 2%;
}