body {
    background-color: #D9D9D9;
}
.header {
    width: 100%;
    height: 120px;
    background-color: #D9D9D9;
}
#logo {
    padding-top: 26px;
    padding-left: 5%;
    float: left;
}
#text {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-top: 10px;
    margin-left: -50px;
}
#nav {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 47px;
    float: left;
    margin-left: 240px;
}
a {
    margin: 0 50px;
    text-decoration: none;
    color: black;
}
#buttons {
    float: left;
    padding-top: 30px;
    padding-left: 40px;
}
#button {
    background-color: #ADA6A6;
    border-radius: 27px;
    width: 120px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
}
#buttons2 {
    float: left;
    padding-top: 30px;
    padding-left: 20px;
}
#button2 {
    background-color: #ADA6A6;
    border-radius: 27px;
    height: 60px;
    font-size: 20px;
    width: 250px;
    cursor: pointer;
}
.content {
    float: left;
    width: 50%;
}
.text2 {
    float: left;
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
    padding-left: 60px;
    width: 80%;
}
.text3 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    padding-left: 60px;
    color: #636363;
    padding-top: 10px;
}
.img1 {
    float: right;
    top: 0;
}
#buttons3 {
    float: left;
    padding-top: 80px;
    padding-left: 60px;
}
#button3 {
    background-color: #9CF885;
    border-radius: 27px;
    height: 80px;
    font-size: 40px;
    width: 350px;
    cursor: pointer;
}
.pokup {
    margin: auto;
    width: 80%;
    height: 650px;
    background-color: white;
    margin-top: 60px;
    border-radius: 35px;
} 
#pok1 {
    background-color: #D9D9D9;
    width: 20%;
    height: 400px;
    margin-left: 58px;
    margin-top: 80px;
    border-radius: 45px;
    float: left;
}
#text4 {
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 80px;
}
.ic {
    border-radius: 100px;
    background-color: white;
    margin-top: 30px;
    margin-right: 30px;
    float: right;
    width: 80px;
    height: 80px;
}
.texta {
    float: left;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 270px;
    margin-left: 25px;
    width: 40px;
    height: 30px;
}
.png {
    margin-top: 17px;
    margin-left: 17px;
}
#name {
    width: 70%;
    height: 80px;
    margin-left: 10%;
    margin-top: 4%;
    border: 0px;
    border-radius:  15px 15px 15px 15px;
    float: left;
}
#buttons4 {
    
    padding-top: 4%;
    padding-left: 0px;
}
#button4 {
    background-color: #9CF885;
    border-radius: 15px;
    height: 60px;
    font-size: 20px;
    width: 180px;
    height: 80px;
}
::placeholder {
    font-size: 30px;
    padding-top: 20px;
}
.okomp {
    padding-top: 70px;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.otext {
    width: 65%;
    height: 300px;
    float: left;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-left: 30px;
}
.img2 {
    width: 30%;
    height: 300px;
    float: right;
    margin-top: 50px;
}
#img2 {
    border-radius: 200px 0px 0px 200px;
}
.o1 {

}
.o2 {
    float: left;
}
.otext2 {
    width: 70%;
    height: 300px;
    float: right;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
}
.img3 {
    width: 30%;
    height: 300px;
    float: left;
    margin-top: 50px;
}
#img3 {
    border-radius: 0px 200px 200px 0px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}